[Unit]
Description=The wxapp application
Wants=network-online.target
After=network-online.target

[Service]
User=wx
Group=wx
Type=simple
UMask=0022
LimitNOFILE=infinity
WorkingDirectory=/opt/wxapp
Environment=WXSTATION_SOURCE_HOST=cam.surfstation.surf
Environment=WXSTATION_SOURCE_PORT=22222
Environment=WXAPP_OUTPUT_PATH=/tmp/wx.json
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/opt/jdk-18/bin/java -jar wxapp-1.0-SNAPSHOT.jar
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=10
Restart=always

[Install]
WantedBy=multi-user.target
